html,body {
  width : 100%;
  height: 100%;
  min-width: 320px;
}
body{
  background-color: #f4f6f8;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom : 100px;
}
ol, ul, li {
  padding-left: 0;
  list-style: none;
}
img {
  width : 100%;
  height: 100%;
  cursor : pointer;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 100%;
  height : 50px;
  margin-bottom : 100px;
}
.header__top button {
  height: 50px;
  background : none;
  border : none;
}
.header__top img {
  cursor: pointer;
}
.header__top nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 16px;
}
.header__top ul {
  display: flex;
}
.header__top li {
  display: flex;
  align-items: center;
  border : 1px solid rgb(213, 215, 218);
  border-radius:  16px;
  padding : 8px;
  margin-right : 4px;
}
.header__top li:hover {
  background-color: rgb(213, 215, 218);
}
.header__top a {
  text-decoration: none;
  color : black;
}
.header__middle {
  width : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__middle > h1 {
  font-weight: bold;
  line-height: 56px;
  font-size: 80px;
  margin : 4px 0;
  color : rgb(0, 197, 73)
}
.search-container {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width : 100%;
  max-width : 800px;
  height: 70px;
  padding : 16px;
  box-sizing: border-box;
}
.search-container > input {
  padding : 16px;
  position: absolute;
  width : calc(100% - 16px);
  height: 100%;
  border: 1px solid rgb(0, 197, 73);
  font-size: large;
  box-sizing: border-box;
  border-radius: 4px;
}
.search-container button {
  z-index: 1;
  background: none;
  border : none;
  width : 40px;
  height: 30px;
  margin-right : 4px;
}
.header__bottom {
  font-size: 12px;
  color : gray;
  width : 100%;
}
.header__bottom > ul {
  width : 100%;
  max-width: 500px;
  margin : 24px auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,80px);
  justify-items: center;
  gap : 16px 0;
}
.header__bottom  li {
  width : 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.header__bottom a,.header__bottom button {
  border : none;
  background-color: rgb(248,250,252);
  border-radius: 24px;
  padding : 12px;
}
.header__bottom span {
  margin-top : 4px;
}
.header__bottom img {
  width : 30px;
  height :30px;
}
.main {
  margin : 0 auto;
  width : 100%;
  max-width : 600px;
}
.main section {
  background-color: white;
  border-radius: 16px;
  margin-bottom: 16px;
  padding : 8px;
}
.main__summary {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
.main__summary div:nth-child(1){
  display: flex;
  align-items: center;
  max-width : 200px;
}
.main__summary img {
  width : 30px;
  height: 30px;
}

.weather-now-summary {
  display: flex;
  flex-direction: column;
  padding : 4px;
  align-items: flex-start;
}

.weather-now {
  font-size: 24px;
}
.weather-compare {
  font-size: 12px;
}

.now-broadcast{
  width : 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid rgb(242,245,247);
}
.now-broadcast span {
  font-size: 12px;
}
.main__summary div:nth-child(2){
  display: flex;
  align-items: center;
  width : 190px;
}

.ad-image {
  width: 200px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.ad-image li {
  width : 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(242,245,247);
  padding : 4px;
  margin-right : 12px;
}

.main__weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__weather__header > div:nth-child(1){
  display: flex;
  align-items: center;
}

.main__weather__header > div:nth-child(1) > span {
  margin-left: 4px;
  display: flex;
  align-items: center;
  color : gray;
}

.main__weather__header > div:nth-child(1) img {
  margin-left: 4px;
  width : 24px;
  height: 24px;
}

.main__weather__header > button {
  width : 24px;
  height: 24px;
  background : none;
  border : none;
  padding : 0;
  margin-right : 8px;
}
.weather-select-container {
  width : 100%;
  display: flex;
}
.weather-select-container h3{
  font-size: 16px;
  border-radius: 8px;
  background-color: rgb(241, 243, 252);
  padding : 8px;
  margin-right : 8px;
  cursor: pointer;
}
.weather-select-container label {
  cursor: pointer;
}
.weather-select-container > input {
  display: none;
}
.weather-select-container > input:checked + h3{
  color : white;
  background-color: royalblue;
}

.weather-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.weather-list > li {
  width : 30px;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.weather-list > li span {
  margin : 8px 0;
}

.weather-icon {
  width : 32px;
  height: 32px;
}

.corona-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.corona-info > a {
  padding-left: 8px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color : gray;
}
.corona-info img {
  width : 24px;
  height: 24px;
}
.corona-info > a > span:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: black;
}
.corona-info a:nth-child(2) {
  border-left : 2px solid rgb(241, 243, 252);
}

.main__app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.main__app > div {
  display: flex;
  align-items: center;
}
.main__app img {
width : 30px;
height: 30px;
}

.main__app button {
background: none;
border-radius: 4px;
color : rgb(101,166,227);
border: 1px solid;
}
.main__webtoon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__webtoon button{
  width : 36px;
  height: 36px;
  border: none;
  background: none;
  padding : 0;
}

.main__pan {
  display: flex;
  flex-direction: column;
}

.main__pan > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__pan > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,50px);
  gap: 8px;
}
.main__pan li {
  background-color: rgb(244,246,248);
  display: flex;
  align-items: center;
}
.main__pan a{
  width : 100%;
  display: flex;
  color : black;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.main__pan span {
  display: flex;
  align-items: center;
}
.main__pan img {
  margin-right: 4px;
  width : 24px;
  height: 24px;
}

.arrow {
  width : 8px;
  height: 8px;
}

.main__notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__notification > div {
  display: flex;
  align-items: center;
}

.alarm {
  color : rgb(0, 197, 73);
  border-radius: 16px;
  font-weight: bold;
  border : 1px solid;
  padding : 8px;
  margin-right: 8px;
}